.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    column-gap: 30px
}

.grid-item-1 {
    grid-column: 1;
}

.grid-item-2 {
    grid-column: 2;
}

.grid-item-3 {
    grid-column: 3;
}

.grid-item-4 {
    grid-column: 4;
}

.grid-item-5 {
    grid-column: 5;
}

.grid-item-6 {
    grid-column:6 ;
}

.grid-item-7 {
    grid-column: 7 ;
}

.grid-item-8 {
    grid-column: 8;
}

.grid-item-9 {
    grid-column:9 ;
}

.grid-item-10 {
    grid-column: 10;
}

.grid-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.unknown {
    background-color: grey;
}

.country-selection {
    background-color: lightgreen;
    margin-bottom: 25px;
    border: 1px solid black;
    font-size: 1.4rem;
}

.country-selection:hover {
    background-color: green;
    cursor: pointer;
}